<div class="card">
  <div class="card-border-style"></div>
  <div class="card-question-style">
    <%= @question %>
    <p>- You </p></div>
</div>

<br>

<div class="card">
  <div class="card-border-style"></div>
  <div class="card-question-style">
    <%= @answer %>
    <p>- Coach </p></div>
</div>


<br>
<div class="link-centering">
  <%= link_to "Ask Question", ask_path %>
</div>