// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
a, a:hover {
  text-decoration: none;
  color: red;
  font-size: 16px;
}
.link-centering {
  text-align: center;
}
.card-border-style {
  height: 100%;
  width: 12px;
  background-color: grey;
}

.card-question-style {
  padding-left: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
}
.card {
    height: 100px;
    display: flex;
    margin: auto;
    width: 75%;
    align-items: center;
}
.form-centering {
  text-align: center;
}